Repository Lmx1220/kpu-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

添加字典类型
  src/enums/common/yesOrNoEnum.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修改字典管理和枚举查询 单表模板修改完成
  src/api/modules/common/dict.ts
  src/api/modules/tools/genTableColumn.ts
  src/components/ApiCascader/index.vue
  src/components/ApiCascader/typing.ts
  src/components/ApiRadioGroup/index.vue
  src/components/ApiRadioGroup/typing.ts
  src/components/ApiSelect/index.vue
  src/components/ApiSelect/typing.ts
  src/components/I18nSelector/index.vue
  src/enums/common/yesOrNoEnum.ts
  src/locales/index.ts
  src/locales/lang/en/common.ts
  src/locales/lang/en/component.ts
  src/locales/lang/en/kpu/common.ts
  src/locales/lang/zh-cn/common.ts
  src/locales/lang/zh-cn/component.ts
  src/locales/lang/zh-cn/kpu/common.ts
  src/locales/lang/zh_cn/common.ts
  src/types/components.d.ts
  src/types/global.d.ts
  src/util/common.ts
  src/views/tools/datasourceConfig/components/DetailForm/index.vue
  src/views/tools/datasourceConfig/components/FormMode/index.vue
  src/views/tools/datasourceConfig/detail.vue
  src/views/tools/generator/components/DetailForm/BuildNow.vue
  src/views/tools/generator/components/DetailForm/ColumnInfo.vue
  src/views/tools/generator/components/DetailForm/GenInfo.vue
  src/views/tools/generator/components/FormMode/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复一个cjs切换成js
  README.md
  postcss.config.js
Due: none

修复一个cjs切换成js
  src/components/ApiCascader/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/Tools/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复样式互换失效
  src/assets/styles/globals.scss
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Tools/Notification/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/layouts/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改vxe样式
  src/assets/styles/vxe.scss
  src/views/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复一些组件bug
  docker/Dockerfile
  docker/nginx.conf
  src/api/modules/system/menu.ts
  src/components/Copyright/index.vue
  src/layouts/components/Copyright/index.vue
  src/layouts/index.vue
  src/types/components.d.ts
  src/views/[...all].vue
  src/views/login2.vue
  src/views/system/dict/list.vue
  src/views/system/file/list.vue
  src/views/system/loginLog/list.vue
  src/views/system/menu/index.vue
  src/views/system/optLog/list.vue
  src/views/system/org/list.vue
  src/views/system/parameter/list.vue
  src/views/system/role/index.vue
  src/views/system/station/list.vue
  src/views/system/user/index.vue
  src/views/tools/datasourceConfig/list.vue
  src/views/tools/generator/list.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复组件样式
  src/layouts/components/Tools/Notification/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复路由bug和模板
  routers.md
  src/App.vue
  src/api/modules/system/menu.ts
  src/layouts/components/Favorites/index.vue
  src/layouts/components/Menu/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/store/modules/favorites.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/settings.ts
  src/store/modules/tabbar.ts
  src/types/global.d.ts
  src/util/composables/useMainPage.ts
  src/views/system/menu/index.vue
  src/views/tools/generator/components/DetailForm/CodePreview.vue
  src/views/tools/generator/components/DetailForm/GenInfo.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复类型不对
  src/types/global.d.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修复无法打包
  src/router/modules/system.example.ts
  src/settings.default.ts
  src/settings.ts
  src/util/composables/useI18n.ts
  src/views/system/resource/components/move.vue
  src/views/tools/generator/components/DetailForm/GenInfo.vue
  tsconfig.json
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复不能打包
  src/main.ts
  src/mock/menu.ts
  src/types/global.d.ts
  src/util/system.copyright.ts
  vite/plugins/banner.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修复已知bug
  eslint.config.js
  package.json
  src/components/SystemInfo/index.vue
  src/layouts/components/Copyright/index.vue
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Search/index.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HSlideover.vue
  src/types/shims.d.ts
  src/views/login.vue
  src/views/login2.vue
  src/views/tools/generator/components/DetailForm/CodePreview.vue
  vite.config.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

改装api
  src/api/helper/timeDelayReq.ts
  src/api/modules/common/dict.ts
  src/api/modules/system/upload.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修改ip地址
  .env.development
  src/api/index.ts
  src/store/modules/user.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修改一些些细节
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改一些些细节
  src/layouts/components/BackTop/index.vue
  src/layouts/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复已知bug
  src/api/modules/common/formValidateService.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修复已知bug
  src/views/system/resource/components/DetailForm/index.vue
  src/views/system/resource/leftTree.vue
  src/views/system/user/components/DetailForm/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复打包报错
  package.json
  src/api/modules/system/model/ResourceModel.ts
  src/api/modules/system/model/defResourceModel.ts
  src/assets/styles/vxe.scss
  src/components/BasicUpload/src/ThumbUrl.vue
  src/enums/colorEnum.ts
  src/layouts/components/Topbar/Toolbar/tools.vue
  src/mock/member.ts
  src/mock/menu.ts
  src/mock/system/role.ts
  src/store/modules/tabbar.ts
  src/types/components.d.ts
  src/types/global.d.ts
  src/util/helper/treeHelper.ts
  src/util/index.ts
  src/views/system/file/list.vue
  src/views/system/loginLog/components/DetailForm/index.vue
  src/views/system/loginLog/list.vue
  src/views/system/optLog/components/DetailForm/index.vue
  src/views/system/optLog/list.vue
  src/views/system/org/components/DetailForm/index.vue
  src/views/system/org/components/OrgManagement/index.vue
  src/views/system/resource/components/DetailForm/ResourceApi.vue
  src/views/system/resource/components/DetailForm/ResourceApiSelect.vue
  src/views/system/resource/components/DetailForm/index.vue
  src/views/system/resource/index.vue
  src/views/system/resource/leftTree.vue
  src/views/system/role/components/DetailForm/index.vue
  src/views/system/role/index.vue
  src/views/tools/generator/components/DetailForm/BuildNow.vue
  src/views/tools/generator/components/DetailForm/GenInfo.vue
  src/views/tools/generator/components/ImportMode/index.vue
  stylelint.config.js
  tsconfig.json
  vite/plugins/banner.ts
  vite/plugins/index.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复样式检查命令无法执行
  src/views/system/resource/detail.vue
  src/views/system/user/components/DetailForm/index.vue
  src/views/tools/generator/components/DetailForm/GenInfo.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复名称
  vite/plugins/index.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修复名称
  src/views/system/user/components/DetailForm/index.vue
  vite/plugins/devtools.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复已知bug
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/locales/lang/zh-cn/app.json
  src/mock/member.ts
  src/router/modules/menu.badge.example.ts
  src/router/modules/tab.example.ts
  src/router/routes.ts
  src/store/modules/menuBadge.ts
  src/store/modules/user.ts
  src/util/common.ts
  src/util/composables/useTabbar.ts
  src/views/menu_badge_example/dot.vue
  src/views/menu_badge_example/number.vue
  src/views/menu_badge_example/text.vue
  src/views/permission_example/index.vue
  src/views/tab_example/index.vue
  tsconfig.json
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

学习版本
  package.json
  src/api/modules/common/formValidateService.ts
  src/api/modules/common/general.ts
  src/api/modules/common/model/formValidateModel.ts
  src/api/modules/common/model/optionsModel.ts
  src/api/modules/system/model/fileModel.ts
  src/api/modules/system/upload.ts
  src/components/StorageBox/index.vue
  src/store/modules/settings.ts
  src/util/common.ts
  src/views/pages_example/menu/components/DetailForm/index.vue
  src/views/pages_example/menu/list.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

vue-tsc 版本太新执行命令报错
  package.json
  pnpm-lock.yaml
  test.js
Due: none

功能
  src/assets/digital/digital-7-webfont.woff2
  src/assets/digital/digital-7_mono-webfont.woff2
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/item.vue
  src/locales/lang/zh-cn.ts
  src/locales/useLocale.ts
  src/permission.ts
  src/router/modules/feature.example.ts
  src/router/routes.ts
  src/views/feature_example/font.vue
  src/views/feature_example/i18n.vue
  src/views/feature_example/waves.vue
  src/views/icon_example/svg.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

update
  pnpm-lock.yaml
Due: none

功能
  src/layouts/components/Menu/index.vue
  src/main.ts
  src/router/modules/feature.example.ts
  src/views/feature_example/font.vue
  src/views/feature_example/waves.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
