Repository Lmx1220/kpu-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

图标修改
  index.html
  public/favicon.ico
  public/favicon.svg
  public/pwa_icons/192x192.png
  public/pwa_icons/384x384.png
  src/assets/images/logo.png
Due: none

依赖更新
  .env.production
  package.json
  test.js
  vite.config.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

依赖更新
  .github/workflows/jekyll-gh-pages.yml
  pnpm-lock.yaml
Due: none

依赖更新
  .github/workflows/jekyll-gh-pages.yml
Due: none

依赖更新
  pnpm-lock.yaml
Due: none

依赖更新
  vite.config.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

依赖更新
  test.js
Due: none

依赖更新和微调菜单
  package.json
  pnpm-lock.yaml
  src/assets/styles/globals.scss
  src/components/FileUpload/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/PanelMenu/index.vue
  src/layouts/components/PanelMenu/item.vue
  src/layouts/components/PanelMenu/sub.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/rightSide.vue
  src/store/modules/user.ts
  test.js
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

检查代码修复
  src/api/helper/timeDelayReq.ts
  src/api/modules/common/formValidateService.ts
  src/assets/styles/globals.scss
  src/layouts/components/Header/index.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/store/modules/watermark.ts
  src/util/kpu/common.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

检查代码修复
  eslint.config.js
Due: none

检查代码修复
  eslint.config.js
  src/api/helper/timeDelayReq.ts
  src/api/modules/common/formValidateService.ts
  src/assets/styles/globals.scss
  src/layouts/components/Header/index.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/store/modules/watermark.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

检查代码修复
  src/views/devOperation/developer/defGenTable/components/DetailForm/GenInfo.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复github打包
  .github/workflows/jekyll-gh-pages.yml
Due: none

修复i8n
  src/locales/lang/en.ts
  src/locales/lang/zh-cn.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

更新vxe-table组件
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/views/plugin_example/vxe-table.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改svg调式模式添加md5跳过
  .env.production
  package.json
  pnpm-lock.yaml
  src/components/SvgIcon/index.vue
  src/store/modules/tabbar.ts
  uno.config.ts
  vite/plugins/disable-devtool.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新package.json
  package.json
Due: none

修改vite插件方式
  vite/plugins.ts
  vite/plugins/app-info.ts
  vite/plugins/archiver.ts
  vite/plugins/auto-import.ts
  vite/plugins/banner.ts
  vite/plugins/components.ts
  vite/plugins/compression.ts
  vite/plugins/console.ts
  vite/plugins/debug-tool.ts
  vite/plugins/devtools.ts
  vite/plugins/disable-devtool.ts
  vite/plugins/index.ts
  vite/plugins/layouts.ts
  vite/plugins/mock.ts
  vite/plugins/pages.ts
  vite/plugins/pwa.ts
  vite/plugins/svg-icon.ts
  vite/plugins/unocss.ts
  vite/plugins/visualizer.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

更新IconPicker样式打包问题
  src/components/IconPicker/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复ui切换的底层兼容问题
  src/api/helper/checkStatus.ts
  src/api/index.ts
  src/api/modules/common/formValidateService.ts
  src/locales/lang/en.ts
  src/locales/lang/zh-cn.ts
  src/locales/useLocale.ts
  src/views/login.vue
  src/views/login2.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

Path conditions:
  eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/: any of: *.{ts,tsx,vue}
  stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input: any of: *.{css,scss,vue}
