Repository Lmx1220/kpu-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

取消 vite-plugin-html
   .editorconfig
  index.html
  package.json
  plop-templates/module/form.hbs
  plop-templates/module/mode.hbs
  pnpm-lock.yaml
  public/browser_upgrade/index.css
  public/loading.css
  src/App.vue
  src/main.ts
  src/util/system.copyright.ts
  vite/plugins/html.ts
  vite/plugins/index.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新 README.md
  README.md
Due: none

更新 README.md
  README.md
  src/store/modules/favorites.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

添加 rollup-plugin-visualizer 修改 README.md
  .env.production
  README.md
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/I18nSelector/index.vue
  src/directive/auth/index.ts
  src/directive/authAll/index.ts
  src/directive/index.ts
  src/layouts/components/Header/index.vue
  src/locales/index.ts
  src/main.ts
  src/store/modules/route.ts
  src/util/composables/useAuth.ts
  src/util/directive.ts
  src/util/is.ts
  vite.config.ts
  vite/plugins/compression.ts
  vite/plugins/index.ts
  vite/plugins/unocss.ts
  vite/plugins/visualizer.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改ts校验不通过
  src/views/system/menu/detail.vue
  src/views/system/role/components/FormMode/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改axios
  plop-templates/mock/mock.hbs
  plop-templates/module/api.hbs
  plop-templates/module/mock.hbs
  src/api/helper/axiosCancel.ts
  src/api/helper/axiosRetry.ts
  src/api/helper/checkStatus.ts
  src/api/helper/formatRequestDate.ts
  src/api/helper/joinTimestamp.ts
  src/api/index.ts
  src/api/model/baseModel.ts
  src/api/modules/system/menu.ts
  src/api/request/axiosTransform.ts
  src/api/request/index.ts
  src/api/request/type.ts
  src/enums/httpEnum.ts
  src/locales/index.ts
  src/locales/lang/zh-cn.json
  src/mock/member.ts
  src/mock/menu.ts
  src/mock/route.ts
  src/store/modules/favorites.ts
  src/store/modules/route.ts
  src/store/modules/tabbar.ts
  src/store/modules/user.ts
  src/types/auto-imports.d.ts
  src/types/axios.d.ts
  src/types/global.d.ts
  src/util/composables/useI18nT.ts
  src/util/index.ts
  src/util/is.ts
  src/views/index.vue
  src/views/system/menu/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改axios完成
  src/api/index.ts
  src/api/request/index.ts
  src/enums/httpEnum.ts
  src/store/modules/route.ts
  src/store/modules/user.ts
  src/views/login.vue
  src/views/login2.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复axios类型
  src/api/request/index.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

角色管理修改
  src/api/modules/system/model/roleModel.ts
  src/api/modules/system/role.ts
  src/views/system/role/components/DetailForm/index.vue
  src/views/system/role/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改模板
  plop-templates/module/api.hbs
  plop-templates/module/form.hbs
  plop-templates/module/list.hbs
  plop-templates/module/model.hbs
  plop-templates/module/prompt.js
  src/api/index.ts
  src/api/model/baseModel.ts
  src/store/modules/user.ts
  src/util/usePagination.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修改模板
  src/api/model/baseModel.ts
  src/util/usePagination.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修复面包蟹没有i18n
  src/store/modules/route.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修复点击头像下拉选择跳转首页无效
  src/layouts/components/Tools/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

删除useMessage
  src/types/auto-imports.d.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

删除useMessage
  src/store/modules/user.ts
  src/types/global.d.ts
  src/views/system/menu/detail.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改后端
  .env.development
  src/api/index.ts
  src/enums/httpEnum.ts
  src/mock/route.ts
  src/store/modules/route.ts
  src/store/modules/user.ts
  src/views/login.vue
  src/views/login2.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

完成用户、角色、菜单后端对接
  plop-templates/module/form.hbs
  plop-templates/module/list.hbs
  plop-templates/module/mode.hbs
  plop-templates/module/prompt.js
  src/api/helper/checkStatus.ts
  src/api/index.ts
  src/api/model/baseModel.ts
  src/api/modules/common/dict.ts
  src/api/modules/system/menu.ts
  src/api/modules/system/model/roleModel.ts
  src/api/modules/system/model/userModel.ts
  src/api/modules/system/role.ts
  src/api/modules/system/user.ts
  src/enums/colorEnum.ts
  src/enums/stautsEnum.ts
  src/layouts/components/Search/index.vue
  src/store/modules/route.ts
  src/store/modules/user.ts
  src/types/global.d.ts
  src/util/usePagination.ts
  src/views/login.vue
  src/views/login2.vue
  src/views/system/menu/components/move.vue
  src/views/system/menu/detail.vue
  src/views/system/menu/index.vue
  src/views/system/role/components/BindUserMode.vue
  src/views/system/role/components/DetailForm/index.vue
  src/views/system/role/components/MenuTree.vue
  src/views/system/role/index.vue
  src/views/system/user/components/BindRoleMode.vue
  src/views/system/user/components/DetailForm/index.vue
  src/views/system/user/components/FormMode/index.vue
  src/views/system/user/detail.vue
  src/views/system/user/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

完成字典对接
  plop-templates/module/api.hbs
  plop-templates/module/detail.hbs
  plop-templates/module/list.hbs
  plop-templates/module/mode.hbs
  plop-templates/module/prompt.js
  src/api/modules/system/dict.ts
  src/api/modules/system/dictItem.ts
  src/api/modules/system/model/dictItemModel.ts
  src/api/modules/system/model/dictModel.ts
  src/api/modules/system/role.ts
  src/api/modules/system/user.ts
  src/views/system/dict/DictItem.vue
  src/views/system/dict/components/DetailForm/index.vue
  src/views/system/dict/components/FormMode/index.vue
  src/views/system/dict/detail.vue
  src/views/system/dict/list.vue
  src/views/system/role/components/BindUserMode.vue
  src/views/system/role/components/DetailForm/index.vue
  src/views/system/role/components/MenuTree.vue
  src/views/system/role/detail.vue
  src/views/system/user/components/DetailForm/index.vue
  src/views/system/user/components/FormMode/index.vue
  src/views/system/user/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改模板
  plop-templates/module/form.hbs
  plop-templates/module/mode.hbs
  src/views/system/dict/components/DetailForm/index.vue
  src/views/system/dict/components/FormMode/index.vue
  src/views/system/role/components/DetailForm/index.vue
  src/views/system/role/components/FormMode/index.vue
  src/views/system/user/components/DetailForm/index.vue
  src/views/system/user/components/FormMode/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改模板
  plop-templates/module/api.hbs
  plop-templates/module/list.hbs
Due: none

修改模板
  plop-templates/module/list.hbs
Due: none

删除el-icon
  src/api/helper/checkStatus.ts
  src/api/index.ts
  src/api/modules/system/menu.ts
  src/api/modules/system/model/parameterModel.ts
  src/api/modules/system/parameter.ts
  src/components/SvgIcon/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/store/modules/route.ts
  src/store/modules/settings.ts
  src/types/global.d.ts
  src/views/system/dict/DictItem.vue
  src/views/system/dict/components/DetailForm/index.vue
  src/views/system/dict/list.vue
  src/views/system/menu/components/move.vue
  src/views/system/menu/index.vue
  src/views/system/parameter/components/DetailForm/index.vue
  src/views/system/parameter/components/FormMode/index.vue
  src/views/system/parameter/detail.vue
  src/views/system/parameter/list.vue
  src/views/system/role/components/FormMode/index.vue
  src/views/system/role/components/MenuTree.vue
  src/views/system/role/index.vue
  src/views/system/user/components/BindRoleMode.vue
  src/views/system/user/components/DetailForm/index.vue
  src/views/system/user/detail.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

登录日志完成
  src/api/modules/system/loginLog.ts
  src/api/modules/system/model/loginLogModel.ts
  src/mock/system/role.ts
  src/views/system/loginLog/components/DetailForm/index.vue
  src/views/system/loginLog/components/FormMode/index.vue
  src/views/system/loginLog/detail.vue
  src/views/system/loginLog/list.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

样式修改
  src/assets/styles/globals.scss
  src/layouts/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

模板修复
  plop-templates/module/detail.hbs
  plop-templates/module/list.hbs
Due: none

模板修复
  plop-templates/module/api.hbs
  plop-templates/module/list.hbs
Due: none

完成代码生成模块
  package.json
  pnpm-lock.yaml
  src/api/modules/tools/datasourceConfig.ts
  src/api/modules/tools/genTable.ts
  src/api/modules/tools/model/datasourceConfigModel.ts
  src/api/modules/tools/model/genTableModel.ts
  src/views/tools/datasourceConfig/components/DetailForm/index.vue
  src/views/tools/datasourceConfig/components/FormMode/index.vue
  src/views/tools/datasourceConfig/detail.vue
  src/views/tools/datasourceConfig/list.vue
  src/views/tools/generator/components/DetailForm/index.vue
  src/views/tools/generator/components/FormMode/index.vue
  src/views/tools/generator/detail.vue
  src/views/tools/generator/list.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

模板修复
  plop-templates/module/list.hbs
Due: none

修复一些小bug，和升级依赖库
  package.json
  pnpm-lock.yaml
  src/api/modules/tools/datasourceConfig.ts
  src/layouts/components/Topbar/Tabbar/index.vue
  src/types/auto-imports.d.ts
  src/views/tools/generator/components/DetailForm/CodePreview.vue
  src/views/tools/generator/components/DetailForm/ColumnInfo.vue
  src/views/tools/generator/components/DetailForm/GenInfo.vue
  vite/plugins/index.ts
  vite/plugins/inspector.ts
  vite/plugins/vue-dev-tools.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复类型，可以打包
  src/api/modules/tools/datasourceConfig.ts
  src/api/modules/tools/genTable.ts
  src/api/modules/tools/model/genTableColumnModel.ts
  src/views/system/loginLog/components/FormMode/index.vue
  src/views/system/optLog/components/FormMode/index.vue
  src/views/tools/generator/components/DetailForm/GenInfo.vue
  src/views/tools/generator/components/ImportMode/index.vue
  src/views/tools/generator/detail.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

模板修改
  plop-templates/module/api.hbs
  plop-templates/module/list.hbs
  plop-templates/module/model.hbs
Due: none

docker部署模板
  docker/Dockerfile
  docker/nginx.conf
Due: none

上传文件api修复
  src/api/modules/system/upload.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修复弹出框最大化尾部按钮文字不显示 修复i18路径问题 修复修改字段列表保存不生效
  src/components/Dialog/BaseDialog.vue
  src/locales/index.ts
  src/views/system/user/index.vue
  src/views/tools/generator/components/DetailForm/ColumnInfo.vue
  src/views/tools/generator/list.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
