Repository Lmx1220/kpu-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

fix: 修复打包
  src/views/index/components/recommendation.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复已知问题
  src/App.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/locales/lang/en/menu.json
  src/locales/lang/zh-cn/menu.json
  src/menu/index.ts
  src/menu/modules/external.link.example.ts
  src/mock/member.ts
  src/mock/menu.ts
  src/router/index.ts
  src/settings.default.ts
  src/settings.ts
  src/store/modules/favorites.ts
  src/store/modules/menu.ts
  src/store/modules/settings.ts
  src/store/modules/user.ts
  src/store/modules/window.ts
  src/types/auto-imports.d.ts
  src/types/global.d.ts
  src/utils/composables/useWindow.ts
  src/views/components/AppSetting/index.vue
  src/views/components/Dashboard/index.vue
  src/views/components/Header/index.vue
  src/views/components/Menu/sub.vue
  src/views/components/PanelMenu/sub.vue
  src/views/components/Search/index.vue
  src/views/components/SubSidebar/index.vue
  src/views/components/Topbar/Lock/index.vue
  src/views/components/Topbar/index.vue
  src/views/index.vue
  src/views/login/index.vue
  src/views/windows/WindowExampleNoTitle/index.vue
  test.js
  themes/index.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 修改首页
  src/views/components/Dashboard/Empty/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

test: pwa测试
  .env.development
  .env.production
  package.json
  pnpm-lock.yaml
  vite/plugins.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

test: pwa测试完成
  .env.development
  .env.production
Due: none

feat: 检测更新
  .vscode/settings.json
  src/App.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/CheckUpdates/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/Tabbar/moreAction.vue
  src/locales/index.ts
  src/locales/lang/zh-cn/app.json
  src/locales/lang/zh-cn/common.json
  src/settings.default.ts
  src/types/global.d.ts
  vite/plugins.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

svg使用本地的插件
  .vscode/settings.json
  package.json
  src/assets/svg/icons/404.svg
  src/assets/svg/icons/example-crown.svg
  src/assets/svg/icons/example-emotion-laugh-line.svg
  src/assets/svg/icons/example-emotion-line.svg
  src/assets/svg/icons/example-emotion-unhappy-line.svg
  src/assets/svg/icons/example-star.svg
  src/assets/svg/icons/example-vip.svg
  src/assets/svg/icons/fullscreen-exit.svg
  src/assets/svg/icons/fullscreen.svg
  src/assets/svg/icons/image-load-fail.svg
  src/assets/svg/icons/search-down.svg
  src/assets/svg/icons/search-enter.svg
  src/assets/svg/icons/search-up.svg
  src/assets/svg/icons/sidebar-breadcrumb.svg
  src/assets/svg/icons/sidebar-default.svg
  src/assets/svg/icons/sidebar-menu.svg
  src/assets/svg/icons/system.svg
  src/assets/svg/icons/toolbar-collapse.svg
  src/assets/svg/index.ts
  src/assets/svg/load.ts
  src/components/SvgIcon/index.vue
  src/main.ts
  src/types/env.d.ts
  src/ui/components/KIcon/index.vue
  src/views/icon_example/svg.vue
  vite/plugins.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新弹框
  src/ui/components/KModal/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新
  src/layouts/components/SubSidebar/index.vue
  themes/index.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新
  src/layouts/components/LoginExpired/index.vue
  src/ui/components/KSystemInfo/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新
  src/api/requestClient.ts
  src/utils/request-client/modules/downloader.ts
  src/utils/request-client/modules/uploader.ts
  src/utils/request-client/preset-interceptors.ts
  src/utils/request-client/request-client.ts
  src/utils/request-client/types.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

更新
  src/layouts/components/Header/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新后端token
  routers.md
  src/api/index.ts
  src/store/modules/route.ts
  src/store/modules/user.ts
  src/types/auto-imports.d.ts
  src/util/storage.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

更新
  package.json
  src/api/modules/system/upload.ts
  src/components/ApiRadioGroup/index.vue
  src/components/BasicTree/index.vue
  src/components/BasicUpload/src/BasicUpload.vue
  src/components/BasicUpload/src/FileList.vue
  src/components/BasicUpload/src/UploadDialog.vue
  src/components/BasicUpload/src/UploadPreviewDialogl.vue
  src/components/BasicUpload/src/useUpload.ts
  src/directive/timeago/index.ts
  src/enums/common/enableOrDisableEnum.ts
  src/enums/common/yesOrNoEnum.ts
  src/hooks/useWindowSizeFn.ts
  src/layouts/components/CheckUpdates/index.vue
  src/layouts/components/LoginExpired/LoginAgainForm.vue
  src/layouts/components/Topbar/Tabbar/moreAction.vue
  src/layouts/components/Topbar/Toolbar/Lock/index.vue
  src/layouts/components/Topbar/Toolbar/NavSearch/index.vue
  src/layouts/components/Topbar/Toolbar/NavSearch/search.vue
  src/router/routes.ts
  src/ui/components/KpuIconPicker/index.vue
  src/ui/components/KpuInput/index.vue
  src/ui/components/KpuModal/modal.vue
  src/ui/form-ui/api-component/api-component.vue
  src/ui/form-ui/kpu-form.vue
  src/ui/form-ui/types.ts
  src/ui/vxe-table/init.ts
  src/ui/vxe-table/use-vxe-grid.vue
  src/utils/file/download.ts
  src/utils/helper/treeHelper.ts
  src/views/component_built_in_example/form.vue
  src/views/component_built_in_example/modal.vue
  src/views/feature_example/i18n.vue
  src/views/index/components/top-card.vue
  src/views/login/components/LoginForm/index.vue
  src/views/login/components/RegisterForm/index.vue
  src/views/login/components/ResetPasswordForm/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新
  src/mock/member.ts
  src/mock/standardModuleExample.ts
  src/views/index/components/pending.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新
  package.json
  pnpm-lock.yaml
  src/mock/member.ts
  src/mock/standardModuleExample.ts
  src/mock/system/role.ts
  src/types/auto-imports.d.ts
  src/utils/composables/use-simple-locale.ts
  vite/plugins.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

更新
  eslint.config.js
  package.json
  src/api/helper/timeDelayReq.ts
  src/assets/styles/globals.css
  src/assets/styles/resources/utils.scss
  src/components/BasicTree/index.vue
  src/components/vue3Cron/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
  src/layouts/components/Topbar/Toolbar/Lock/index.vue
  src/layouts/components/Topbar/index.vue
  src/settings.ts
  src/ui/components/KpuFixedActionBar/index.vue
  src/ui/components/KpuSmartFixedBlock/index.vue
  src/utils/helper/treeHelper.ts
  src/utils/request-client/preset-interceptors.ts
  src/views/component_basic_example/components/icon.vue
  src/views/index/components/recommendation.vue
  src/views/index/components/top-card.vue
  src/views/login/components/LoginForm/index.vue
  src/views/login/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新
  pnpm-lock.yaml
Due: none

更新
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/router/modules/component.example.ts
  src/ui/form-ui/form-render/form-field.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新
  src/views/component_extend_example/image.preview.vue
  src/views/component_extend_example/pcas.vue
  src/views/component_extend_example/upload.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新
  src/views/component_extend_example/upload.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新
  src/assets/styles/globals.css
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/index.vue
  src/ui/components/KpuScrollArea/index.vue
  src/ui/components/KpuSmartFixedBlock/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

继承后端fs
  package.json
  pnpm-lock.yaml
  src/api/devOperation/system/defDict.ts
  src/api/devOperation/system/defDictItem.ts
  src/api/devOperation/system/model/defDictItemModel.ts
  src/api/devOperation/system/model/defDictModel.ts
  src/api/devOperation/tenant/datasourceConfig.ts
  src/api/devOperation/tenant/model/datasourceConfigModel.ts
  src/api/modules/common/formValidateService.ts
  src/api/modules/common/formValidateServiceKpu.ts
  src/api/modules/common/general.ts
  src/api/modules/file/upload.ts
  src/assets/styles/globals.css
  src/bootstrap.ts
  src/components/ImageUpload/utils.ts
  src/enums/commonEnum.ts
  src/locales/langs/en/devOperation/system/defDict.json
  src/locales/langs/en/devOperation/system/defDictItem.json
  src/locales/langs/en/devOperation/tenant/defDatasourceConfig.json
  src/locales/langs/zh-cn/devOperation/system/defDict.json
  src/locales/langs/zh-cn/devOperation/system/defDictItem.json
  src/locales/langs/zh-cn/devOperation/tenant/defDatasourceConfig.json
  src/plugins/fast-crud/common.ts
  src/plugins/fast-crud/index.tsx
  src/ui/components/KpuIconPicker/index.vue
  src/views/devOperation/system/defDictManager/data/crud.tsx
  src/views/devOperation/system/defDictManager/index.vue
  src/views/devOperation/system/defDictManager/item/data/crud.tsx
  src/views/devOperation/system/defDictManager/item/index.vue
  src/views/devOperation/tenant/defDatasourceConfig/data/crud.tsx
  src/views/devOperation/tenant/defDatasourceConfig/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
