Repository Lmx1220/kpu-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

更新classNames.ts
  src/util/classNames.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

布局相关css变量移入到布局组件中维护,修复打包样式问题
  src/App.vue
  src/components/IconPicker/index.vue
  src/layouts/components/Topbar/Toolbar/I18n/index.vue
  src/layouts/components/views/iframe.vue
  src/layouts/index.vue
  src/layouts/ui-kit/HTabList.vue
  src/util/baidu.ts
  src/views/[...all].vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

引入 postcss-nested，路由导航守卫移入到单独文件维护，移除 unocss 自定义 shortcuts，登录页面修改
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/components/LoginSwitcher/index.vue
  src/locales/lang/en/loginFrom.json
  src/locales/lang/en/registerForm.json
  src/locales/lang/en/resetPasswordForm.json
  src/locales/lang/zh-cn/loginFrom.json
  src/locales/lang/zh-cn/registerForm.json
  src/locales/lang/zh-cn/resetPasswordForm.json
  src/main.ts
  src/permission.ts
  src/router/guards.ts
  src/router/index.ts
  src/router/routes.ts
  src/store/modules/iframe.ts
  src/store/modules/route.ts
  src/types/global.d.ts
  src/util/request-client/modules/uploader.ts
  src/views/login.vue
  src/views/login/components/LoginForm/index.vue
  src/views/login/components/RegisterForm/index.vue
  src/views/login/components/ResetPasswordForm/index.vue
  src/views/login/index.vue
  src/views/login2.vue
  uno.config.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复登录，取消打包压缩
  .env.production
  src/types/components.d.ts
  src/views/login/components/LoginForm/index.vue
  src/views/login/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖，调整首次进入页面，修复tsc报错
  index.html
  loading.html
  package.json
  pnpm-lock.yaml
  src/assets/styles/globals.css
  src/assets/styles/resources/utils.scss
  src/components/ApiRadioGroup/index.vue
  src/components/ApiSelect/index.vue
  src/components/BasicUpload/src/ThumbUrl.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/util/request-client/modules/uploader.ts
  test.js
  uno.config.ts
  vite/plugins.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改登录页面
  src/views/login/components/LoginForm/index.vue
  src/views/login/components/RegisterForm/index.vue
  src/views/login/components/ResetPasswordForm/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复导航栏显示问题
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改全局loading消失时机
  src/layouts/index.vue
  src/router/index.ts
  src/types/shims.d.ts
  vite/plugins.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复无法登录
  .env.development
  src/api/index.ts
  src/main.ts
  src/store/modules/user.ts
  src/views/login/components/LoginForm/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

使用vite-plugin-app-loading插件
  package.json
  src/main.ts
  src/types/shims.d.ts
  tsconfig.json
  vite/plugins.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

使用vite-plugin-app-loading插件
  pnpm-lock.yaml
Due: none

添加锁屏
  package.json
  pnpm-lock.yaml
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Topbar/Toolbar/Lock/index.vue
  src/settings.default.ts
  src/settings.ts
  src/store/modules/bing.ts
  src/store/modules/settings.ts
  src/types/global.d.ts
  test.js
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

头像mock数据添加
  src/mock/member.ts
  src/store/modules/user.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

基础弹框进入动画无效修复
  src/layouts/components/Search/index.vue
  src/layouts/components/Topbar/Toolbar/Lock/index.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HSlideover.vue
  src/store/modules/settings.ts
  src/views/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

基础弹框进入动画无效修复-测试
  src/views/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

基础弹框进入动画无效修复-测试清空
  src/views/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

pnpm-lock.yaml 更新
  pnpm-lock.yaml
Due: none

feat: pnpm-lock.yaml 更新 添加Modal
  src/directive/authAll/index.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

feat(./): 修复已知问题
  package.json
  pnpm-lock.yaml
  src/components/Auth/index.vue
  src/directive/auth/index.ts
  src/directive/index.ts
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/views/permission_example/index.vue
  test.js
  vite.config.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

bugfix: 修复已知问题
  package.json
Due: none

bugfix: 修复已知问题
  pnpm-lock.yaml
Due: none

bugfix: 修复已知问题
  src/components/BasicUpload/src/UploadDialog.vue
  src/utils/composables/useViewTransition.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

bugfix: 修复已知问题
  package.json
  pnpm-lock.yaml
  src/store/modules/bing.ts
  test.js
  vite.config.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

feat: 首页
  src/components/Count/index.vue
  src/components/Count/requestAnimationFrame.js
  src/router/routes.ts
  src/types/components.d.ts
  src/views/index/components/active-users-bar.vue
  src/views/index/components/page-header.vue
  src/views/index/components/pending.vue
  src/views/index/components/recommendation.vue
  src/views/index/components/top-card.vue
  src/views/index/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
