Repository Lmx1220/kpu-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

初始化成功
  package.json
  pnpm-lock.yaml
  public/icons/cil-raw.json
  public/icons/ep-raw.json
  public/icons/ri-raw.json
  scripts/generate.icons.js
  src/iconify/data.json
  src/iconify/index.json
  src/iconify/index.ts
  src/layouts/index.vue
  src/router/modules/keep.alive.example.ts
  src/router/modules/system.example.ts
  src/store/modules/tabbar.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

菜单管理完成
  src/components/FixedActionBar/index.vue
  src/components/IconPicker/index.vue
  src/components/LayoutContainer/index.vue
  src/components/PageHeader/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/router/modules/system.example.ts
  src/types/components.d.ts
  src/types/global.d.ts
  src/views/system/menu/detail.vue
  src/views/system/menu/index.vue
  tsconfig.json
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改bug
  src/layouts/components/Search/index.vue
  src/types/global.d.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix：
  .vscode/extensions.json
  index.html
  public/browser_upgrade/index.css
Due: stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

添加收藏夹 - 修复标签效果
  .vscode/extensions.json
  index.html
  public/browser_upgrade/index.css
  public/favicon.ico
  public/vite.svg
  src/assets/images/logo.png
  src/assets/images/logo2.png
  src/assets/vue.svg
  src/layouts/components/Favorites/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/settings.ts
  src/store/modules/favorites.ts
  src/types/global.d.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改链接
  src/router/modules/link.example.ts
  src/views/system/menu/detail.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

add LICENSE.
  LICENSE
Due: none

plop 模板功能添加
  package.json
  plop-templates/component/index.hbs
  plop-templates/component/prompt.js
  plop-templates/mock/mock.hbs
  plop-templates/mock/prompt.js
  plop-templates/module/detail.hbs
  plop-templates/module/form.hbs
  plop-templates/module/list.hbs
  plop-templates/module/mock.hbs
  plop-templates/module/mode.hbs
  plop-templates/module/prompt.js
  plop-templates/page/index.hbs
  plop-templates/page/prompt.js
  plop-templates/store/index.hbs
  plop-templates/store/prompt.js
  plopfile.js
  pnpm-lock.yaml
  scss.template.hbs
Due: none

菜单管理修改
  src/types/global.d.ts
  src/views/system/menu/detail.vue
  src/views/system/menu/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复plopjs生成代码
  package.json
  plop-templates/component/index.hbs
  plop-templates/component/prompt.js
  plop-templates/mock/mock.hbs
  plop-templates/mock/prompt.js
  plop-templates/module/detail.hbs
  plop-templates/module/form.hbs
  plop-templates/module/list.hbs
  plop-templates/module/mock.hbs
  plop-templates/module/mode.hbs
  plop-templates/module/prompt.js
  plop-templates/page/index.hbs
  plop-templates/page/prompt.js
  plop-templates/store/index.hbs
  plop-templates/store/prompt.js
Due: none

修复Tabbar无法滚动
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复Toolbar循环key重复
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复key
  src/layouts/components/Topbar/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复打开新标签会删除当前标签
  src/store/modules/tabbar.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

菜单管理完成
  src/types/global.d.ts
  src/views/system/menu/detail.vue
  src/views/system/menu/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

全局类型添加
  src/settings.default.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修复
  src/components/LayoutContainer/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

添加菜单mock和api
  src/api/modules/system/menu.ts
  src/mock/menu.ts
  src/util/usePagination.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

plop 添加生成api
  plop-templates/module/api.hbs
Due: none

名称修改
  src/store/modules/favorites.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

添加个人信息页面/修复一些bug
  src/api/index.ts
  src/api/request/index.ts
  src/components/ImageUpload/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/index.vue
  src/router/modules/systemRoutes.ts
  src/router/routes.ts
  src/types/components.d.ts
  src/types/global.d.ts
  src/util/usePagination.ts
  src/views/keep_alive_example/detail.vue
  src/views/monitor/error/index.vue
  src/views/monitor/oper/index.vue
  src/views/personal/edit.password.vue
  src/views/personal/notification.vue
  src/views/personal/setting.vue
  src/views/system/config/index.vue
  src/views/system/dept/index.vue
  src/views/system/dict/index.vue
  src/views/system/log/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

添加一些工具
  src/components/Copyright/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImagesUpload/index.vue
  src/components/SearchBar/index.vue
  src/main.ts
  src/types/components.d.ts
  src/util/baidu.ts
  src/util/dayjs.ts
  src/util/directive.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

工具添加
  src/components/Auth/index.vue
  src/components/AuthAll/index.vue
  src/components/FixedActionBar/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/SystemInfo/index.vue
  src/types/components.d.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

添加报错全局拦截
  src/main.ts
  src/util/error.log.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

axios添加Loading
  package.json
  pnpm-lock.yaml
  src/api/helper/axiosCancel.ts
  src/api/helper/checkStatus.ts
  src/api/index.ts
  src/api/modules/system/menu.ts
  src/api/request/index.ts
  src/api/request/serviceLoading.ts
  src/api/request/type.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修改成后端java环境为完成
  .env.development
  plop-templates/module/api.hbs
  src/api/index.ts
  src/api/modules/system/menu.ts
  src/api/request/index.ts
  src/api/request/type.ts
  src/store/modules/favorites.ts
  src/store/modules/tabbar.ts
  src/store/modules/user.ts
  src/views/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复ajax封装有问题
  src/api/index.ts
  src/api/request/index.ts
  src/api/request/type.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修改
  .env.development
  src/types/global.d.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修改
  src/api/index.ts
  src/api/request/index.ts
  src/api/request/type.ts
  src/components/SvgIcon/index.vue
  src/mock/route.ts
  src/permission.ts
  src/settings.ts
  src/store/modules/route.ts
  src/store/modules/tabbar.ts
  src/store/modules/user.ts
  src/views/login.vue
  src/views/login2.vue
  src/views/system/menu/detail.vue
  src/views/system/menu/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复获取菜单失败重复添加标签，优化favorites和用户个人设置
  src/store/modules/tabbar.ts
  src/store/modules/user.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

修复获取菜单失败重复添加标签，优化favorites和用户个人设置
  src/permission.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

添加角色管理
  src/api/modules/system/role.ts
  src/mock/menu.ts
  src/mock/system/role.ts
  src/views/system/menu/detail.vue
  src/views/system/menu/index.vue
  src/views/system/role/components/DetailForm/index.vue
  src/views/system/role/components/FormMode/index.vue
  src/views/system/role/detail.vue
  src/views/system/role/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改模板生成
  plop-templates/module/api.hbs
  plop-templates/module/list.hbs
  plop-templates/module/mock.hbs
  plop-templates/module/prompt.js
  src/components/SearchBar/index.vue
  src/components/vue3Cron/index.vue
  src/types/components.d.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新 README.md
  README.md
Due: none

更新 package.json
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/types/auto-imports.d.ts
  vite/plugins/index.ts
  vite/plugins/setup-extend-plus.ts
  vite/plugins/setup-extend.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

更新 package.json
  pnpm-lock.yaml
Due: none

更改 global.d.ts
  src/types/global.d.ts
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/

更改 角色管理代码
  src/views/system/role/components/DetailForm/index.vue
  src/views/system/role/components/FormMode/index.vue
Due: eslint --cache --fix --no-ignore --no-error-on-unmatched-pattern --ext .ts,.tsx,.vue src/, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
